-
	var profile_data = [
		{
			name: "Id",
			value: "3007-T7"
		},{
			name: "Город",
			value: "Тюмень"
		},{
			name: "Email",
			value: "auv@gmail.com"
		},{
			name: "Телефон",
			value: "+7 (982) 123-45-67"
		}
	];
	