.page-programm {
	margin-top: 45px;

	@media (max-width: $screen-xs) {
		margin-top: 15px;
	}

	.sidebar-menu {
		margin-top: 0;
	}

	.main-video {
		margin: 50px 0;

		@media (max-width: $screen-sm) {
			margin: 30px 0;
		}

		@media (max-width: $screen-xs) {
			margin: 20px 0;
		}


		&__body {
			height: 600px;

			@media (max-width: $screen-lg) {
				height: 480px;
			}

			@media (max-width: $screen-lg) {
				height: 360px;
			}

			@media (max-width: $screen-xs) {
				height: 250px;
			}
		}
	}
}