mixin partners()
    section.partners
        .container
            .block-title Наши партнеры
            .partners__list.js-slider-partners
                .partners__item
                    img(src="/dist/img/partners-1.png", alt="")
                .partners__item
                    img(src="/dist/img/partners-2.png", alt="")
                .partners__item
                    img(src="/dist/img/partners-3.png", alt="")
                .partners__item
                    img(src="/dist/img/partners-1.png", alt="")
                .partners__item
                    img(src="/dist/img/partners-1.png", alt="")
                .partners__item
                    img(src="/dist/img/partners-1.png", alt="")