extends ../pug/layout.pug

include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug

block vars
	- var page = 'about';
	- var header_class = "main-header main-header--bg"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/programm_desc/baner_bg.jpg"
	- var b_title = "О компании"
	- var b_text = "55555"
	- var b_btn_text = "Нужна помощь в подборе программы"

block content
