extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/video/video.pug

 
block vars
	- var page = 'advantages';
	- var header_class = "main-header"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/main-banner__baby.png"
	- var b_title = "Наши преимущества"
	- var b_text = "Программа донорства яйцеклеток и суррогатного материнства имеют самый высокий процент успешности"
	- var b_btn_text = "Доступно о сложном"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "О нас"},{href:"#",name: "Преимущества и гарантии", class: "current"}])

	//- section.page.page-advantages
		//- .container
			.row
				//- .d-none.d-lg-block.col-lg-3
				//- 	+sidebar-menu([{href:"#",name: "О нас"},{href:"#",name: "Преимущества и гарантии", class: "current"},{href:"#",name: "Отзывы"},{href:"#",name: "Клиники и партнеры"},{href:"#",name: "База знаний"},{href:"#",name: "Нововсти"}])
				//- 	include ../blocks/anonymous-consultation/anonymous-consultation.pug
				.col-12.col-lg-12
					//- h2.page-title Почему стоит выбрать центр Репродукция?
					//- .advantages
					//- 	.advantages-list
					//- 		.row
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/advantages-1.svg", alt="")
					//- 					.advantages__item-text
					//- 						| Полная конфиденциальность.
					//- 						br
					//- 						| Все файлы уничтожаются
					//- 						br
					//- 						| по завершению программы.
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/advantages-2.svg", alt="")
					//- 					.advantages__item-text Юридическая безопасность и консультации 24/7
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-3.svg", alt="")
					//- 					.advantages__item-text Общение с кандидатами через сообщения, видео и личные встречи
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-4.svg", alt="")
					//- 					.advantages__item-text Более 500 пар сделали родителями
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-5.svg", alt="")
					//- 					.advantages__item-text Фиксированная сумма выплаты, никаких скрытых платежей
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-6.svg", alt="")
					//- 					.advantages__item-text Проверяем психическое здоровье и состояние суррогатных мам
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-7.svg", alt="")
					//- 					.advantages__item-text Гарантируем согласие сурр.мамы на запись Вас родителями
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-8.svg", alt="")
					//- 					.advantages__item-text Любая клиника ЭКО вашего города
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-9.svg", alt="")
					//- 					.advantages__item-text Работаем с 2007 года по всей России
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-10.svg", alt="")
					//- 					.advantages__item-text Полное отсутствие предоплаты. Расчёт по факту оказания услуг (день забора яйцеклеток или день подсадки)
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-11.svg", alt="")
					//- 					.advantages__item-text Большой, обновляемый каталог доноров яйцеклеток с фотографиями
					//- 			.col-lg-4.col-md-6.col-sm-12
					//- 				.advantages__item
					//- 					.advantages__item-img
					//- 						img(src="/dist/img/adv-12.svg", alt="")
					//- 					.advantages__item-text Наличие бюджетных донорских программ

	.advantages__desc
		.container
			p Агентство «Репродукция» работает по региональным ценам, а это значит, что наши услуги финансово доступны, даже если вы решили взять программу полного сопровождения. Большинство агентств сосредоточено в столицах, с точки зрения бизнеса и возможностей это логично. В небольших городах возможностей мало, но людей, которые нуждаются в квалифицированной репродуктивной помощи не меньше. Мы работаем для них и знаем всё о региональной специфике, а обширная география агентства - это главный показатель нашей эффективной работы. Мы сделаем всё возможное, чтобы осуществить Вашу заветную мечту о материнстве 

	.about-us
		.wave-top
		.container 
			.row
				.col-lg-10
					.block-title--white Почему мы?
					p Мы работаем с 2007 года
					p Мы предлагаем услуги по ценам Вашего города, в результате чего они финансово доступны.
					p Мы не привязаны к определенной клинике или городу, а это говорит о профессионализме и разноплановости в работе.
					p Мы – открытое агентство:
					p - в части суррогатного материнства: наши пациенты после одобрения кандидатуры суррогатной матери лечащим врачом, получают её прямой контакт. В дальнейшем, они могут заключить с ней двухсторонний договор, что существенно снизит финансовые расходы, либо при желании- доверить полное сопровождение беременности нашему сотруднику.
					p - в части донорства яйцеклеток: наши пациенты могут посмотреть на своего донора «живьём»: в офисе агентства или в клинике, а так же пообщаться по телефону или видеосвязи. Мы организуем встречу, с соблюдением для вас полной конфиденциальности.
					p Мы – агентство, с которым у вас нет рисков, мы работаем полностью без предоплаты. Есть агентства, которые берут предоплату после одобрения кандидатуры у врача, потом на эти деньги кандидатку обследуют, ведут на приёмы, но это не то… ведь потом эту кандидатку могут  забраковать по результатам анализов, она может передумать, или передумаете Вы, или заболеет, да мало ли что может пойти не так. А деньги уже заплачены…и Вам их никто не вернёт. Нам вы оплачиваете услугу по завершению программы! Каких бы ситуаций не произошло, только мы рискуем финансово. А раз так, мы в первую очередь заинтересованы в адекватности, здоровье и добропорядочности вашей сурмамы или донора.
					p Мы заинтересованы в результате не меньше вас
		.wave-bottom
						

	.guarantee
		.container
			.guarantee-content
				.guarantee__title Мы гарантируем
				.guarantee__list
					.guarantee__item Неизменность стоимости услуг с момента подписания договора
					.guarantee__item Договор без предоплаты
					.guarantee__item Расчёт по завершению программы
					.guarantee__item Адекватные цены на все услуги агентства, настроенные на ценовую политику вашего города
					.guarantee__item В программах «полного сопровождения» суррогатного материнства- платежи в несколько этапов, по триместрам беременности
					.guarantee__item Посильные для многих цены на услуги курирования (как альтернатива программе с полным сопровождением)
					.guarantee__item Неизменность суммы компенсации суррогатной матери и её ежемесячных платежей
					.guarantee__item Возможность выбора суррогатной мамы из нескольких предложенных к рассмотрению кандидатур (с личной встречей).
					.guarantee__item Возможность выбора донора яйцеклеток по обширным онлайн каталогам (взрослые фотографии доноров, видео материалы)
					.guarantee__item Наличие у суррогатной матери полного перечня обследований (согласно требованиям Приказа МЗ РФ №107)
					.guarantee__item Возможность оплаты наличным и безналичным расчётом
					.guarantee__item Возможность продолжения программы с другой кандидатурой в случае сбоя программы по любой причине
					.guarantee__item Юридическая помощь при оформлении договора и регистрации рожденного суррогатной мамой ребенка 
					.guarantee__item Полная конфиденциальность
