extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-profile-info/profile-info.pug
include ../blocks/block-profile-photo/profile-photo.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/card/card.pug


block vars
	- var page = 'cabinet';
	- var header_class = "main-header main-header--bg" 
	- var menu_btn_class = "btn-white main-header__menu-btn"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Личный кабинет"},{href:"#",name: "Редактирование профиля", class: "current"}])

	section.catalog.page
		.container
			h1.catalog__title Выбор суррогатной мамы
			p Расставьте пожалуйста девушек по приоритету, начиная с той, кто нравится больше.
			p Вы можете передвигать кандидаток, удерживая анкету правой кнопкой мыши на компьютере или при помощи пальца на мобильной версии.

			.selected-mother__form
				.row
					- var i = 0;
					while i < 5
						.col-12.col-sm-6.col-md-4.col-xl-3
							+cardSwitch("3003-T7-"+i,["/dist/img/catalog/mom1.jpg","/dist/img/catalog/mom2.jpg","/dist/img/catalog/mom3.jpg","/dist/img/catalog/mom4.jpg","/dist/img/catalog/mom5.jpg"],"Самсонова Таисия Евгеньевна", "Тюмень", "24 года")
						- i++	
						.col-12.col-sm-6.col-md-4.col-xl-3
							+cardSwitch("1001-"+i,["/dist/img/catalog/mom2.jpg","/dist/img/catalog/mom1.jpg","/dist/img/catalog/mom3.jpg","/dist/img/catalog/mom4.jpg","/dist/img/catalog/mom5.jpg"],"Макарова Татьяна Борисовна", "Тюмень", "24 года")
						- i++	
						.col-12.col-sm-6.col-md-4.col-xl-3
							+cardSwitch("1002-"+i,["/dist/img/catalog/mom3.jpg","/dist/img/catalog/mom1.jpg","/dist/img/catalog/mom2.jpg","/dist/img/catalog/mom4.jpg","/dist/img/catalog/mom5.jpg"],"Антонова Ульяна Виталиевна", "Тюмень", "24 года")
						- i++

			