extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/block-profile-info/profile-info.pug
include ../blocks/block-profile-photo/profile-photo.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug


block vars
	- var page = 'catalog';
	- var header_class = "main-header main-header--bg" 
	- var menu_btn_class = "btn-white main-header__menu-btn"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Личный кабинет"},{href:"#",name: "Редактирование профиля", class: "current"}])

	section.catalog.page
		.container
			.catalog-top
				h1.catalog__title Каталог сурогатных мам
				a(href="#").btn-default Вход в личный кабинет
			include ../blocks/mother-filter/mother-filter.pug
			.mother-filter-result
				.mother-filter-result__title Результаты поиска
					include ../blocks/mother-filter-result/mother-filter-result.pug
					+pagination(5)

block modal
	include ../blocks/modal-mother-full-card/modal-mother-full-card.pug

	div(class="modal fade modal-resus" id="resus-table" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
		div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
			.modal-content
				.modal-header
					button(type="button" class="modal-close" data-dismiss="modal" aria-label="Close")
				.modal-body
					.resus-table
						.resus-table__item
							.resus-table__item-title Возможные группы крови <span class="gradient-text">ребёнка</span>
							img(src="/dist/img/table-resus-child.svg", alt="")
						.resus-table__item
							.resus-table__item-title Возможные группы крови <span class="gradient-text">донора</span>
							img(src="/dist/img/table-resus-donor.svg", alt="")
						.resus-table__btn
							a(href="#" class="btn-aqua") Подробнее
	
	div(class="modal fade modal-select-mother" id="modal-select-mother" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
		div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
			.modal-content
				.modal-header
					.modal-title Заявка на подбор суррогатной мамы
					.modal-subtitle
						span.gradient-text Вы выбрали
					button(type="button" class="modal-close" data-dismiss="modal" aria-label="Close")
				.modal-body
					.selected-mother__wrapper
						- var i = 0
						while i < 5
							div(data-id="").selected-mother__item.selected-mother__item--no-selected
								.selected-mother__close.js-selected-mother__close
								.profile-name Самсонова Таисия Евгеньевна
								.selected-mother__item-info
									.selected-mother__item-photo
										img(src="/dist/img/catalog/mom1.jpg", alt="")
									.profile-info.profile-info--select-mother
										.profile-info__item
											div(class="profile-info__item-name") Id: 
											div(class="profile-info__item-value js-profile-card-id") 3003-T7-0
										.profile-info__item
											div(class="profile-info__item-name") Город:
											div(class="profile-info__item-value js-profile-card-city") Тюмень
										.profile-info__item
											div(class="profile-info__item-name") Возраст:
											div(class="profile-info__item-value js-profile-card-old") 24 года
							-i++
						.selected-mother__btn
							a(href="" class="btn-aqua js-btn-submit") Оформить список менеджеру
	
	div(class="modal fade modal-success" id="modal-success" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
		div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
			.modal-content
				.modal-header
					button(type="button" class="modal-close" data-dismiss="modal" aria-label="Close")
				.modal-body
					.success
						.success__img
							img(src="/dist/img/ico/done.svg", alt="")
						.success__text
							| Ваша заявка принята.<br>Менежер свяжется с вами в ближайшее время
	
	//- div().buttons-open-modal
	//- 	a(href="#" data-toggle="modal" data-target="#modal-filter").buttons-open-modal__btn.btn-open-filter Фильтр
	//- 	a(href="#" data-toggle="modal" data-target="#modal-select-mother").buttons-open-modal__btn.btn-open-mother Выбранные доноры

	div(class="modal fade modal-filter" id="modal-filter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
			div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
				.modal-content
					.modal-header
						button(type="button" class="modal-close" data-dismiss="modal" aria-label="Close")
					.modal-body
						include ../blocks/mother-filter/mother-filter.pug

	block modal 
		include ../blocks/modal-video/modal-video.pug
	