extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug

block vars
	- var page = 'contacts';
	- var header_class = "main-header main-header--bg" 
	- var menu_btn_class = "btn-white main-header__menu-btn"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "О нас"},{href:"#",name: "Контакты", class: "current"}])
	section.page.page-contacts
		.container
			.row
				.d-none.d-lg-block.col-lg-3
					+sidebar-menu([{href:"#",name: "О нас"},{href:"#",name: "Преимущества и гарантии"},{href:"#",name: "Отзывы", class: "current"},{href:"#",name: "Клиники и партнеры"},{href:"#",name: "База знаний"},{href:"#",name: "Нововсти"}])
					.go-anket 
						.go-anket__title Перейти к заполнению анкеты
						.go-anket__btns
							a(href="#").btn-default Хочу стать донором ооцитов
							a(href="#").btn-default Хочу стать сурогатной мамой
							a(href="#").btn-default Анкета будущих родителей
				.col-12.col-lg-9
					h2.page-title Контакты 
					.page-content 
						p ООО "Репродукция"
					.contacts
						.row
							.col-12.col-sm-6
								.contacts__item.contacts__item-addr
									.contacts__item-name Адрес:
									.contacts__item-item г.Тюмень, ул.Осипенко, 63/1 (вход со двора)
									a(href="#").contacts__item-other-city 
										span смотреть другой город
							.col-12.col-sm-6
								.contacts__item.contacts__item-phones
									.contacts__item-name Телефоны:
									a(href="tel:88004006060").contacts__item-item.contacts__item-link  8 (800) 400-60-60 (бесплатный для РФ)
									a(href="tel:89829048525").contacts__item-item.contacts__item-link 8 (982) 904-85-25
							.col-12.col-sm-6
								.contacts__item.contacts__item-time
									.contacts__item-name Режим работы:
									.contacts__item-item ежедневно с 8.00 - 20.00
							.col-12.col-sm-6
								.contacts__item.contacts__item-social
									.contacts__item-name Соц.сети:
									a(href="#").contacts__item-social-item
										img(src="/dist/img/ico/whatsapp-white.svg", alt="")
									a(href="#").contacts__item-social-item
										img(src="/dist/img/ico/viber-vhite.svg", alt="")
									a(href="#").contacts__item-social-item
										img(src="/dist/img/ico/vk-white.svg", alt="")
									a(href="#").contacts__item-social-item
										img(src="/dist/img/ico/mail-white.svg", alt="")
							.col-12.col-sm-6
								.contacts__item.contacts__item-mail
									.contacts__item-name Email:
									a(href="mailto:rpdc@rpdc.ru").contacts__item-item.contacts__item-link rpdc@rpdc.ru
							.col-12
								#js-contacts-map
								.contacts__map
									.map-item(data-position-x="57.150285" data-position-y="65.573476" data-name="Репродукция" data-url="№")
					.gallery
						.gallery__title Наш офис 
						.gallery__text
							p Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых исследований. Учитывая ключевые сценарии поведения, дальнейшее развитие различных форм деятельности требует анализа инновационных методов управления процессами.
						.gallery-slider.js-gallery-slider
							div.gallery-slider__item
								img(src="/dist/img/programm_desc/baner_bg.jpg", alt="")
							div.gallery-slider__item
								img(src="/dist/img/programm_desc/baner_bg2.jpg", alt="")
							div.gallery-slider__item
								img(src="/dist/img/programm_desc/baner_bg3.jpg", alt="")
							div.gallery-slider__item
								img(src="/dist/img/programm_desc/baner_bg4.jpg", alt="")
							div.gallery-slider__item
								img(src="/dist/img/programm_desc/baner_bg.jpg", alt="")
					.personals
						.personals__item
							.personals__item-photo
								img(src="/dist/img/programm_desc/consultant.jpg", alt="")
								a(href="#").btn-default Видео-презентация
									span
							.personals__item-info
								.personals__item-name Минеева Екатерина
								.personals__item-position Руководитель агентства. Вопросы сотрудничества.
								.personals__item-phone
									a(href="tel:89181158800") 8-918-115-88-00
								.personals__item-about
									.personals__item-about-title О себе:
									.personals__item-about-text
										p Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых...
								a(href="#").personals__item-more
									span Подробнее
							.personals__item-social
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/whatsapp-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/viber-vhite.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/vk-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/mail-white.svg", alt="")
						.personals__item
							.personals__item-photo
								img(src="/dist/img/programm_desc/consultant.jpg", alt="")
								a(href="#").btn-default Видео-презентация 
									span
							.personals__item-info
								.personals__item-name Минеева Екатерина
								.personals__item-position Руководитель агентства. Вопросы сотрудничества.
								.personals__item-phone
									a(href="tel:89181158800") 8-918-115-88-00
								.personals__item-about
									.personals__item-about-title О себе:
									.personals__item-about-text
										p Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых...
								a(href="#").personals__item-more
									span Подробнее
							.personals__item-social
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/whatsapp-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/viber-vhite.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/vk-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/mail-white.svg", alt="")
						.personals__item
							.personals__item-photo
								img(src="/dist/img/programm_desc/consultant.jpg", alt="")
								a(href="#").btn-default Видео-презентация
									span 
							.personals__item-info
								.personals__item-name Минеева Екатерина
								.personals__item-position Руководитель агентства. Вопросы сотрудничества.
								.personals__item-phone
									a(href="tel:89181158800") 8-918-115-88-00
								.personals__item-about
									.personals__item-about-title О себе:
									.personals__item-about-text
										p Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых Сложно сказать, почему диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть подвергнуты целой серии независимых...
								a(href="#").personals__item-more
									span Подробнее
							.personals__item-social
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/whatsapp-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/viber-vhite.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/vk-white.svg", alt="")
								a(href="#").personals__item-social-item
									img(src="/dist/img/ico/mail-white.svg", alt="")
					//- TODO add regions and map
					.regions
						.regions-centers
						#region_map