extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/video/video.pug


block vars
	- var page = 'motherhood-info';
	- var header_class = "main-header main-header--programm"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/programm_desc/banner-6.jpg"
	- var b_title = "Донорам"
	- var b_text = "Одна ваша клеточка может принести кому-то счастье. Благородная помощь и отличная подработка."
	- var b_btn_text = "Заполнить анкету"
	//- - var b_second_btn_text = "Заполнить анкету"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Донорам"}])

	section.page.page-donor-info
		.mothrerhood-desc
			.container
				.block-title Донорам
				.motherhood-desc
					p.motherhood-desc__text-block Процесс стимуляции и взятия яйцеклеток не влияет на возможность женщины-донора в будущем иметь детей. Планировать беременность Вы сможете хоть со следующего цикла.
					p У 12-летней девочки в яичниках находится около 400 000 яйцеклеток. За детородные годы в процессе овуляции яичниками расходуется менее 400 из них. Оставшиеся яйцеклетки просто рассасываются в яичниках каждый месяц. В связи с присутствием большого количества этих "запасных" яйцеклеток, прием лекарств во время донорского процесса не может привести к ранней менопаузе.

		.text-block.block-text--dark(style="background: url(/dist/img/6.1.png) no-repeat center;")
			.container 
				.row
					.col-md-7 
						p Стимуляция донора проводится гормональными препаратами – но это совсем не те гормоны, о которых ходит недобрая слава: мол «усы вырастут, целлюлит выскочит, месячные кончатся, растолстею». Наоборот, введение женских половых гормонов положительно сказывается на внешнем виде женщины.
						p Небольшой процент (менее 10%) женщин, принимающих препараты для стимуляции, обнаруживает такие временные побочные эффекты, как головная боль, отеки и частые перепады настроения. Они исчезают с окончанием приема лекарств. У некоторых женщин после забора клеток несколько дней наблюдается незначительное вздутие живота и покалывание в области яичников. Это называется синдромом гиперстимуляции яичников. Доктора внимательно проследят за Вашей реакцией на лекарственные препараты и примут все необходимые меры, чтобы снизить вероятность возникновения этих осложнений.
		

		.text-block.block-text--dark
			.container 
				p Небольшой процент (менее 10%) женщин, принимающих препараты для стимуляции, обнаруживает такие временные побочные эффекты, как головная боль, отеки и частые перепады настроения. Они исчезают с окончанием приема лекарств. У некоторых женщин после забора клеток несколько дней наблюдается незначительное вздутие живота и покалывание в области яичников. Это называется синдромом гиперстимуляции яичников. Доктора внимательно проследят за Вашей реакцией на лекарственные препараты и примут все необходимые меры, чтобы снизить вероятность возникновения этих осложнений.

		.motherhood-donor__desc(style="background: url(/dist/img/6.2.png) no-repeat center;")
			//- .wave-top
			.container
				.col-md-8.offset-md-4
					.block-title Требования к Донорам
					ul.block-text--dark
						li Возраст от 20 до 30 лет
						li Физическое и психическое здоровье
						li Здоровая наследственность (отсутствие генетических заболеваний)
						li Привлекательная внешность
						li Рост от 160 см
						li Отсутствие избыточной массы тела 
						li Заполненная анкета
						li Предоставление качественных фотографий в полный рост и лицо крупным планом
						li 
							strong Без фотографий анкета в работу не попадает
					.faq-tabs#faq-item-parent
						.faq-tabs__item
							a(href="#faq-tabs-1" data-toggle="collapse" aria-expanded="true" role="button").faq-tabs__item-name Требования к фото
							.faq-tabs__item-text.collapse.show#faq-tabs-1(data-parent="#faq-item-parent")
								p Фото должно быть качественное и красивое. Некрасивое не примем!
			.wave-bottom

		.text-block.block-text--dark
			.container 
				.row
					.col-lg-6
						img(src="/dist/img/donor-info-img.jpg", alt="", style="border-radius: 10px")
					.col-lg-6
						.block-title В программе донорства вы получаете:
						ul
								li Достойное вознаграждение в день забора клеток
								li Размер гонорара не зависит от числа полученных яйцеклеток
								li Бесплатный медицинский осмотр перед каждой пункцией
								li Полную конфиденциальность (персональные данные зашифрованы)
								li Привычный уклад жизни практически не меняется
								li Достойную подработка для всех женщин, и даже студентов, мам в декрете
								li Гордость за свой поступок		

		.motherhood-programm
			.container 
				.block-title Донорство яйцеклеток. Программы агентства
					.programm-card
							.programm-card__image
								.programm-card__image-overlay
								img(src="/dist/img/programm_desc/6-1.jpg", alt="")
							.programm-card__info.donor-info
								.programm-card__name Донорство по месту жительства
								.programm-card__price 
									span 50 000 руб.
					.programm-card
							.programm-card__image
								.programm-card__image-overlay
								img(src="/dist/img/programm_desc/6-2.jpg", alt="")
							.programm-card__info.donor-info
								.programm-card__name Донорство для девушек <br> с вылетом в другой город или страну
								.programm-card__price 
									span 85 000 - 200 000 руб.
		.motherhood-steps 
			.container 
				.block-title Алгоритм работы с донором яйцеклеток
				.video-block
					iframe(width="1280" height="720" src="https://www.youtube.com/embed/oWRzV_YpGf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				p ВАЖНО: Ваша анкета конфиденциальна, родители при просмотре каталога не видят ваши персональные данные и выбирают себе донора по картинке. От того, насколько качественные и красивые будут фотографии, зависит:
				ul 
					li Как скоро вас выберут в программу
					li В какую категорию доноров в каталоге агентства вы попадёте, попадая в категорию VIP, ваша анкета станет доступна для просмотра тем родителям, которые готовы заплатить вам гонорар выше
				p Уделите этому моменту время, приложите хорошие фотографии к анкете, тогда мы сможем предложить вам программу.Если у вас возникнут проблемы с выбором (прикреплением) фотографий или их не будет совсем, свяжитесь с нашим менеджером по телефону: 8-922-075-76-37 (Алёна).
				a(href="").block-surrogate-request.block-surrogate-request__text Хочу стать донором
