extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/video/video.pug


block vars
	- var page = 'donor';
	- var header_class = "main-header main-header--programm"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/programm_desc/banner-4.jpg"
	- var b_title = "Родителям: донорство яйцеклеток"
	- var b_text = "В базе агентства более 3000 доноров яйцеклеток и она ежедневно пополняется. Подойдите ответственно к выбору донора, а мы вам в этом поможем. "
	- var b_btn_text = "Смотреть как"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Родителям"},{href:"#",name: "Родителям: донорство яйцеклеток", class: "current"}])

	section.page.page-donor
		.mothrerhood-desc
			.container
				.block-title Родителям: донорство яйцеклеток
				.motherhood-desc
					p.motherhood-desc__text-block ЭКО с донорскими яйцеклетками, пожалуй, одна из самых сложных программ в моральном плане. Практически всегда первый разговор о донорстве с пациентами вызывает отрицание и слова - «Вы что? Это же будет не мой ребёнок!». Давайте начнём разбираться что такое программа ЭКО с донорскими ооцитами? Это процедура, при которой проводят гормональную стимуляцию донора (молодой женщины до 30 лет), получают яйцеклетки, оплодотворяют спермой мужа пациентки, выращивают эмбрионы и переносят в полость матки женщине - пациентки.
					p.bold.motherhood-desc__text-block То есть при донорской программе пациентка, которая обращается в клинику, сама вынашивает беременность, рожает малыша, кормит его грудью и испытывает все радости, связанные с материнством!
					.row 
						.col-lg-3.motherhood-desc__img
							img(src="/dist/img/motherhood-stat.png", alt="")
						.col-lg-9.motherhood-desc__text
							p Использование донорских яйцеклеток является методом лечения с высокой результативностью. Частота наступления беременности в циклах ЭКО с донорскими яйцеклетками составляет 60-65%, а преимущество донорства яйцеклеток, в сравнении с усыновлением ребёнка неоспоримо, ведь в вашем ребенке будет генетический вклад отца (50%), а у вас будет возможность влиять на питание и благополучие малыша ещё до его рождения. А при грамотном подходе к вопросу подбора донора яйцеклеток вы обретёте своё душевное спокойствие. 

		.motherhood-programm#programm-card-parent
			.container 
				.block-title Донорство яйцеклеток. Виды программ.
				.programm-card
							.programm-card__image
								img(src="/dist/img/programm_desc/4-3.jpg", alt="")
							.programm-card__info
								.programm-card__name Донор по фото
								.programm-card__price 
									span 180 000 руб.
								.programm-card__desc Выбор донора происходит по Каталогу с возможностью просмотра нескольких взрослых фотографий донора и анкетной информации о нём. Дополнительно оплачивается стоимость ЭКО в выбранной родителями клинике и препараты для стимуляции донора
								a(href="#info-tabs-1" data-toggle="collapse" aria-expanded="false" role="button").programm-card__more Что включено в стоимость услуги:
								.faq-tabs__item-text.collapse#info-tabs-1(data-parent="#programm-card-parent")
									ul.programm-card__list
										li доступ к каталогу местных доноров (город проживания донора = место проведения программы ЭКО)
										li доступ к информации. Менеджер агентства максимально ответит на все вопросы о доноре, донора так же можно будет посмотреть по видео-визитке, пообщаться с девушкой по телефону (при её согласии) или увидеть «в живую».
										li оплата всех приёмов донора у врача до начала программы стимуляции
										li оплату медицинских услуг по обследованию донора в объёме требований клиники и Приказа МЗ № 107н
										li оплата транспортных расходов донора (в пределах города, области, края) до начала программы стимуляции
										li оплата расходов по замене донора до начала стимуляции, если это потребуется (неограниченное количество раз). Замена может потребоваться в ситуации, если донор не прошла по результатам анализов, повела себя недобросовестно, скрыла важную информацию, которая влияет на возможность участия в программе, передумала, заболела, оказалась мошенницей и т.д.
										li курирование программы донорства до получения материала (куратор контролирует своевременное и точное  выполнением донором всех назначений врача, прохождение обследований, постановку инъекционных препаратов и т.п.) 
										li консультирование и работа менеджера
										li оплата услуг донора
								.programm-card__button
									a(href="#" class="btn-aqua") Оставить заявку
				.programm-card
							.programm-card__image
								img(src="/dist/img/programm_desc/4-4.jpg", alt="")
							.programm-card__info
								.programm-card__name Донор по фото категории VIP или на выезд
								.programm-card__price 
									span 230 000 руб.
								.programm-card__desc Дополнительно оплачивается стоимость ЭКО в выбранной родителями клинике и препараты для стимуляции донора
								a(href="#info-tabs-2" data-toggle="collapse" aria-expanded="false" role="button").programm-card__more Что включено в стоимость услуги:
								.faq-tabs__item-text.collapse#info-tabs-2(data-parent="#programm-card-parent")
									ul.programm-card__list
										li доступ ко всем каталогам агентства (доноров более 3000) и к каталогу категории VIP
										li доступ к информации: менеджер агентства максимально ответит на все вопросы о доноре, донора так же можно будет посмотреть по видео-визитке, пообщаться с девушкой по телефону или увидеть донора «в живую» (если  территориально это будет возможно)
										li оплата всех приёмов донора у врача до начала программы стимуляции
										li оплату медицинских услуг по обследованию донора в объёме требований клиники и Приказа МЗ № 107н
										li оплата транспортных расходов донора (в пределах города, области, края) до начала программы стимуляции
										li оплата расходов по замене донора до начала стимуляции, если это потребуется (неограниченное количество раз). Замена может потребоваться в ситуации, если донор не прошла по результатам анализов, повела себя недобросовестно, скрыла важную информацию, которая влияет на возможность участия в программе, передумала, заболела, оказалась мошенницей и т.д.
										li курирование программы донорства до получения материала (куратор контролирует своевременное и точное  выполнением донором всех назначений врача, прохождение обследований, постановку инъекционных препаратов и т.п.) 
										li консультирование и работа менеджера
										li оплата услуг донора
										p ***Если донор проходит программу в другом городе: транспортные расходы, временное проживание донора, оплата приёмов в клинике, в стоимость программы не включены.
								.programm-card__button
									a(href="#" class="btn-aqua") Оставить заявку
				.programm-card
							.programm-card__image
								img(src="/dist/img/programm_desc/4-2.jpg", alt="")
							.programm-card__info
								.programm-card__name Донор эконом в свежем цикле. Гарантированное предоставление 6 донорских ооцитов.
								.programm-card__price 
									span 145 000 руб.
								.programm-card__desc Выбор донора происходит по фото, но количество доноров ограничено
								a(href="#info-tabs-3" data-toggle="collapse" aria-expanded="false" role="button").programm-card__more Что включено в стоимость услуги:
								.faq-tabs__item-text.collapse#info-tabs-3(data-parent="#programm-card-parent")
									ul.programm-card__list
										li Отдельно в клинике ЭКО оплачивается культивирование и криозаморозка полученных эмбрионов.
								.programm-card__button
									a(href="#" class="btn-aqua") Оставить заявку			
		.motherhood-faq
			.wave-top
			.container#faq-item-parent
				.block-title--white Самостоятельный поиск донора яйцеклеток. О чём стоит подумать
				.faq-tabs
					.faq-tabs__item
						a(href="#faq-tabs-1" data-toggle="collapse" aria-expanded="true" role="button").faq-tabs__item-name Меня не пугает знакомство с донором 
						.faq-tabs__item-text.collapse.show#faq-tabs-1(data-parent="#faq-item-parent")
							p Отсутствие конфиденциальности это самая большая опасность в самостоятельном поиске. Ведь никто не знает, как в дальнейшем может сложиться ваша жизнь, жизнь донора или жизнь вашего «донорского» ребенка. Иногда повороты судьбы покруче любого сериала. Так же информация может начать со временем вас «тяготить». Работая с агентством, вы можете быть уверены,  что донор не будет знать для кого сдаёт свои яйцеклетки.
							a(href="#").btn-default Подробнее
					.faq-tabs__item
						a(href="#faq-tabs-2" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Я смогу хорошо съэкономить
						.faq-tabs__item-text.collapse#faq-tabs-2(data-parent="#faq-item-parent")
							p Подумайте, а будет ли настолько существенная экономия, чтобы так рисковать? В оплате услуг агентства, заложены неизбежные расходы на донора, которые у вас точно так же будут. Учитывая, что премудростей подбора вы не знаете, трат может быть больше. К тому же доноры, которые подыскивают себе родителей самостоятельно, обычно просят гонорар больше. В случае, если вам  попадётся донор недобросовестный и программа сорвётся, потраченные на донора деньги, будут потеряны. В агентстве вы платите фиксированную сумму, даже если придётся сменить несколько доноров.
							a(href="#").btn-default Подробнее	
					.faq-tabs__item
						a(href="#faq-tabs-3" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Это не сложно, объявлений от доноров полно
						.faq-tabs__item-text.collapse#faq-tabs-3(data-parent="#faq-item-parent")
							p Выбор донора дело серьёзное. Вряд ли у вас получится самостоятельно найти донора, который будет идеален, скорее всего, придётся идти с собой на компромисс: «ну да, немного не то, но зато дёшево и не через агентство. И я молодец, сама нашла». А теперь задумайтесь, донор это мама вашего ребенка: это её генетика, её взгляд, её изгиб губ, её ямочка на щеке и всё это - будет часть вашего ребенка. Ищите донора без компромиссов, ищите девочку, в которую влюбитесь. Только агентство сможет обеспечить вам возможность выбора, ведь каталоги и базы агентства нарабатывают годами. 
							a(href="#").btn-default Подробнее
					.faq-tabs__item
						a(href="#faq-tabs-4" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name У меня есть свободное время, могу искать сама
						.faq-tabs__item-text.collapse#faq-tabs-4(data-parent="#faq-item-parent")
							p Если вы щепетильно подходите к вопросу выбора, вы будете искать свой типаж, свой цветотип, «свою девочку» запредельно долго. Как правило, к донорству прибегают женщины старшей репродуктивной группы, женщины 40+ и даже младше. Время не ваш союзник. Ребенка надо не только родить, но и благополучно выносить и воспитать. Тратить время на долгий и самостоятельный поиск это непозволительная роскошь.
							a(href="#").btn-default Подробнее
					.faq-tabs__item
						a(href="#faq-tabs-5" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Я точно буду уверена в том, кто мой донор
						.faq-tabs__item-text.collapse#faq-tabs-5(data-parent="#faq-item-parent")
							p Очень часто приходится слышать, что агентство не желает «показать» донора по требованию. Особенно этим грешат столичные агентства. В этом случае у родителей закрадывается вполне понятное подозрение, а та ли это красавица, что на фото?  Тогда самостоятельный поиск становится аргументирован:  «я точно буду знать, что это она». Работайте с агентствами, которые максимально открыты и у вас не возникнет таких подозрений. В агентстве Репродукция донора можно увидеть « в живую» и можно пообщаться при желании.
							a(href="#").btn-default Подробнее
			.wave-bottom

		.motherhood-steps 
			.container 
				.block-title Алгоритм работы
				.motherhood-steps__list
					.row
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
										img(src="/dist/img/ico/manager.svg").motherhood-steps__list-item__icon-base
										img(src="/dist/img/ico/manager-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 1. Консультация, заявка <br> и закрепление за вами личного менеджера 
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
										img(src="/dist/img/ico/login.svg").motherhood-steps__list-item__icon-base
										img(src="/dist/img/ico/login-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 2. Получение логина и пароля для доступа в каталог 
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
										img(src="/dist/img/ico/donor.svg").motherhood-steps__list-item__icon-base
										img(src="/dist/img/ico/donor-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 3. Выбор донора по выбранной программе
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
										img(src="/dist/img/ico/contract.svg").motherhood-steps__list-item__icon-base
										img(src="/dist/img/ico/contract-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 4. Подписание договора <br> с агентством 
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
										img(src="/dist/img/ico/examination.svg").motherhood-steps__list-item__icon-base
										img(src="/dist/img/ico/examination-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 5. Прохождение донором обследования
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
											img(src="/dist/img/ico/doctor.svg").motherhood-steps__list-item__icon-base
											img(src="/dist/img/ico/doctor-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 6. Начало программы стимуляции 
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
										span
											img(src="/dist/img/ico/checklist.svg").motherhood-steps__list-item__icon-base
											img(src="/dist/img/ico/checklist-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 7. Контроль за выполнением донором всех назначений врача
						.col-lg-3.col-md-6.col-sm-12
							.motherhood-steps__list-item
								.motherhood-steps__list-item__icon
									span
											img(src="/dist/img/ico/money.svg").motherhood-steps__list-item__icon-base
											img(src="/dist/img/ico/money-white.svg").motherhood-steps__list-item__icon-hover
								.motherhood-steps__list-item__text
									p 8. Пункция и расчёт за услугу
			
					
				p Среднее количество яйцеклеток, получаемых от донора, составляет в среднем 12-15 единиц. Этого объёма достаточно, чтобы осуществить перенос, а оставшиеся эмбрионы заморозить для дальнейшего использования в новых циклах.
				p Если беременность наступила, мы советуем Вам не отказываться от криоматериала, а подарить вашему малышу, в дальнейшем, генетически родного ему братика или сестрёнку. Это еще один из бонусов индивидуальных донорских программ, дети - рожденные в вашей семье от одного донора, будут генетически родные. Если же вы берете анонимного донора или используете «замороженные» яйцеклетки, предложенные клиникой, такого преимущества Вы лишаетесь.
				.block-surrogate-request
					.block-surrogate-request__text Оставить заявку на подбор донора
					.block-surrogate-request__button
						a(href="" class="btn-white") 
							span Перейти к заполнению анкеты