
extends ../pug/layout.pug
include ../blocks/video/video.pug
include ../blocks/form-consult/form-consult.pug
include ../blocks/partners/partners.pug
include ../blocks/map/map.pug
//- /dist/img/main-banner__baby.png
block vars
	- var page = 'index';
	- var header_class = "main-header"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = ""
	- var header_bg_video = "/dist/img/video/main.mp4"
	- var b_title = "Мы поможем вам стать родителями!"
	- var b_text = "Суррогатное материнство и донорство яйцеклеток. Работаем в нескольких регионах России."
	//- - var b_btn_text = "Узнать как"

block content
	section.categories
		.container
			.block-title Программы донорства яйцеклетов и суррогатного материнства
			.block-text Доверьте чудо рождения профессионалам. Мы одни из основателей подобного рода услуг. Начиная свою деятельность в 2007г. с уральского региона мы планомерно продвигаем свои услуги в различные города России. И сейчас, скорее всего, именно наша девушка из региона России, вынашивает малыша для столичной семьи. Мы имеем крупнейшие базы доноров яйцеклеток и суррогатных мам. Собираем для вас самых привлекательных доноров и ведём тщательный отбор кандидаток в программы суррогатного материнства.
			.categories__list
				.row
					.col-lg-6
						.categories__item
							.categories__item-bg
								img(src="/dist/img/main/1-1.jpg", alt="Родителям: донорство яйцеклеток")
							.categories__item-links
								a(href="#").categories__item-mainlink Родителям: донорство яйцеклеток
								.categories__item-links_list
									a(href="#").categories__item-link Стоимость
									a(href="#").categories__item-link Частые вопросы
									a(href="#").categories__item-link Заявка на подбор
					.col-lg-6
						.categories__item
							.categories__item-bg
								img(src="/dist/img/main/1-6.jpg", alt="Родителям: суррогатное материнство")
							.categories__item-links
								a(href="#").categories__item-mainlink Родителям: суррогатное материнство
								.categories__item-links_list
									a(href="#").categories__item-link О программе
									a(href="#").categories__item-link Стоимость
									a(href="#").categories__item-link Частые вопросы
									a(href="#").categories__item-link Заявка на подбор
					.col-lg-6
						.categories__item
							.categories__item-bg
								img(src="/dist/img/main/1-3.jpg", alt="Донорам яйцеклеток")
							.categories__item-links
								a(href="#").categories__item-mainlink Донорам яйцеклеток
								.categories__item-links_list
									a(href="#").categories__item-link О программе
									a(href="#").categories__item-link Оплата
									a(href="#").categories__item-link Частые вопросы
									a(href="#").categories__item-link Анкета
					.col-lg-6
						.categories__item
							.categories__item-bg
								img(src="/dist/img/main/1-4.jpg", alt="Суррогатным мамам")
							.categories__item-links
								a(href="#").categories__item-mainlink Суррогатным мамам
								.categories__item-links_list
									a(href="#").categories__item-link О программе
									a(href="#").categories__item-link Оплата
									a(href="#").categories__item-link Частые вопросы
									a(href="#").categories__item-link Анкета
	section.region-price
		.wave-top
		.container
			.region-price__container#faq-item-parent
				.block-title--white Особенности региональных программ
				.block-text--white Своей деятельностью нам приходится доказывать простую истину: Мама-это та, что воспитала! Материнство достижимо всегда! Помните об этом и обращайтесь к профессионалам, ведь мы знаем, как сделать путь к материнству короче и результативней.
				.faq-tabs__item
					a(href="#faq-tabs-1" data-toggle="collapse" aria-expanded="true" role="button").faq-tabs__item-name Подбор суррогатной мамы из Вашего города
					.faq-tabs__item-text.collapse.show#faq-tabs-1(data-parent="#faq-item-parent")
						p Без суррогатной мамы Вам не справиться? Но Вы с трудом может себе позволить столичные цены и «пакетные услуги»? Мы подберём Вам девушку из вашего города, проведём программу бюджетно и Вы заплатите только за подбор. Ничего лишнего и это доступно многим! 
						p Кроме того, оплата у вас будет по факту, а это значит, что Вы ничем не рискуете.
						p Вы будете общаться с суррогатной мамой, будете вовлечены в процесс вынашивания вашего ребенка и при этом, не будете переплачивать.
						p Так же можно провести программу без прямого контакта с суррогатной мамой – Вы можете заказать услугу «личный куратор» или « полное сопровождение». Оплата услуг сурмамы будет по цене того региона, где проходит программа.
						p Мы можем удовлетворить любой запрос и найти суррогатную маму из любого города.
						p В нашей базе суррогатных мам всегда есть девушки, готовые в кратчайшие сроки вступить в протокол. Поскольку они местные жительницы это облегчает и удешевляет процесс подбора. Все девушки имеют своих здоровых детей, рождённых естественным путём. Мы не идём на компромиссы из-за нехватки кандидаток и не рискуем здоровьем Ваших будущих детей, поэтому мы не работаем с девушками с отрицательной кровью, после операции «кесарево сечение» и кандидатками старше 34 лет. Если Вас интересует суррогатное материнство, мы сделаем всё возможное, чтобы Вы остались довольны.
						//- a(href="#").btn-default Подробнее
				.faq-tabs__item
					a(href="#faq-tabs-2" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Подбор донора яйцеклеток
					.faq-tabs__item-text.collapse#faq-tabs-2(data-parent="#faq-item-parent")
						p Без донорской яйцеклетки вам не справиться? Взгляните на ситуацию с другой стороны – это не так страшно, как кажется вначале. Спустя время, вы не вспомните о доноре. Зато в рождении вашего ребенка будут свои, особенные плюсы: яйцеклетки молодых женщин более «здоровы», на них нет бремя прожитых лет, а значит, делая выбор в пользу донорского материала, вы заботитесь о будущем здоровье вашего малыша. Яйцеклетки можно выбрать – вернее выбрать донора, благодаря которой вы станете мамой: выбрать нужный носик, глазки, ушки ребенка, выбрать нужный рост или выбрать похожую на себя девушку таким образом, что даже близкие не догадаются о вашей тайне. Никакие «замороженные клетки» и анонимные доноры, предлагаемые в клиниках, не дадут Вам такой возможности. Только индивидуальный подбор и только «живые» программы! Именно эти программы, на свежих клетках, помимо всех плюсов еще и высоко результативны.
						p В наш каталог мы собрали самых привлекательных девушек-доноров со всей России и в каждом городе в отдельности. База доноров насчитывает более 3000 кандидаток. Вы можете выбрать себе донора яйцеклеток по фото, пообщаться с кандидаткой по телефону и даже лично познакомиться с ней без дополнительной оплаты. Кроме того, оплата у вас будет по факту, а это значит, что Вы ничем не рискуете.
						p На нашем сайте для родителей существует личный кабинет, в котором представлен регулярно обновляемый каталог доноров яйцеклеток с фильтром выбора по параметрам. Помимо подбора донора, мы возьмём на себя всю организацию программы ЭКО с донорской яйцеклеткой — сопровождение донора на приёмы в клинику репродукции, медицинское обследование, контроль за выполнением донором своих обязательств. Мы несём ответственность и гарантируем точное выполнение донором своих услуг. Если Вам нужна донорская яйцеклетка, мы поможем!
						p Мы можем удовлетворить практически любой запрос. Именно поэтому с нами, помимо стандартных программ, работают столичные агентства и «выискивают» из базы доноров в категории «vip».
						//- a(href="#").btn-default Подробнее
				.faq-tabs__item
					a(href="#faq-tabs-3" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Абсолютная прозрачность всех стадий подбора
					.faq-tabs__item-text.collapse#faq-tabs-3(data-parent="#faq-item-parent")
						p Вы будете вовлечены в процесс подбора как суррогатной мамы, так и донора яйцеклеток. После одобрения кандидатуры суррогатной матери вашим лечащим врачом, у Вас будет прямой контакт с девушкой. Только Вам решать, общаться с девушкой или доверить это агентству. С донором яйцеклеток общаться не рекомендуем, в связи с особенностью программ, но посмотреть на донора «живьём» в офисе агентства или в клинике на приёме, а так же пообщаться по телефону, видеосвязи – можно. И это будет абсолютно бесплатно! Так же мы ответим на все ваши вопросы относительно самих кандидаток.
						p Мы, единственное агентство, которое работает полностью без предоплаты, в этом наша «фишка». Есть агентства, которые берут предоплату после одобрения кандидатуры у врача, но это не то… ведь потом эту кандидатку могут  забраковать в процессе сдачи анализов или она сама передумает, или передумаете Вы,  или заболеет, да мало ли что. А деньги уже заплачены…и Вам их никто не вернёт. Нам вы оплачиваете услугу по завершению программы! Соответственно, это мы рискуем финансово. А раз так, мы в первую очередь заинтересованы в адекватности, здоровье и добропорядочности вашей сурмамы или донора.
						//- a(href="#").btn-default Подробнее
		.wave-bottom

	section.advantages
		.container
			.block-title Почему стоит выбрать агентство Репродукция?
			.advantages-list
				.row
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/advantages-1.svg", alt="")
							.advantages__item-text
								| Полная конфиденциальность.
								br
								| Все файлы уничтожаются
								br
								| по завершению программы.
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/advantages-2.svg", alt="")
							.advantages__item-text Юридическая безопасность и консультации 24/7
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-3.svg", alt="")
							.advantages__item-text Общение с кандидатами через сообщения, видео и личные встречи
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-4.svg", alt="")
							.advantages__item-text Более 500 пар сделали родителями
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-5.svg", alt="")
							.advantages__item-text Фиксированная сумма выплаты, никаких скрытых платежей
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-6.svg", alt="")
							.advantages__item-text Проверяем психическое и физическое состояние сурмам
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-7.svg", alt="")
							.advantages__item-text Гарантируем согласие сурмамы на запись Вас родителями
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-8.svg", alt="")
							.advantages__item-text Любая клиника ЭКО вашего города
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-9.svg", alt="")
							.advantages__item-text Работаем с 2007 года по всей России
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-10.svg", alt="")
							.advantages__item-text Полное отсутствие предоплаты. Расчёт по факту оказания услуг (день забора яйцеклеток или день подсадки)
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-11.svg", alt="")
							.advantages__item-text Большой, обновляемый каталог доноров яйцеклеток с фотографиями
					.col-lg-3.col-md-6.col-sm-12
						.advantages__item
							.advantages__item-img
								img(src="/dist/img/adv-12.svg", alt="")
							.advantages__item-text Наличие бюджетных донорских программ, а также программ VIP
					.col-12
						//- a(href="#").btn-default.d-none.d-sm-block Подробнее о гарантии услуги
						//- a(href="#").btn-default.d-block.d-sm-none Подробнее о гарантиях

	+video("background: url('/dist/img/video-bg.png') no-repeat center; background-size: cover;", "gifurl", "Агенство репродуктивных технологий «Репродукция»", "wave")

	section.about-mainpage
		.container
			p Агентство Репродукция является региональной компанией. Мы не новички в сфере подбора. Начиная свою деятельность с глубинки России, мы стали лидерами в нескольких крупных регионах страны. Наши филиалы есть в Уральском и Южном Федеральном округе, а так же ряде других городов. Мы не ограничены территорией. С жителями любого города мы рады и готовы работать.
			p Так же мы осуществляем сотрудничество с некоторыми Агентствами и Клиниками Москвы, Санкт-Петербурга и Китая. С родителями  из столичных городов мы работаем по «транспортной схеме».
			p.bold Мы знаем, как достичь долгожданного материнства и сделать путь преодоления проще, легче и короче. И это наверно базовое в подборе.
			.about-mainpage__categories
				a(href="#").btn-default Оставить заявку на подбор донора
				a(href="#").btn-default Оставить заявку на подбор суррогатной мамы
				//- a(href="#").btn-default Стать донором ооцитов

	+consultation()
	+partners()
	+map()

