extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/video/video.pug


block vars
	- var page = 'motherhood-moscow';
	- var header_class = "main-header main-header--programm"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/programm_desc/baner_bg4.jpg"
	- var b_title = "Суррогатное материнство в Москве"
	- var b_text = "Приглашаем девушек для выездных программ. Полный переезд с семьёй. Быстрый запуск в программу. "
	- var b_btn_text = "Узнать подробности"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Родителям"},{href:"#",name: "Суррогатное материнство", class: "current"}])

	section.page.page-motherhood
		.info-block 
			.container
				.block-text--dark
					.block-title Требования к кандидаткам: 
					ul
						li Возраст до 33 лет (строго)
						li Любой город России и стран СНГ (кроме Украины)
						li Положительный резус крови 
						li Отсутствие «кесарева сечения»
						li Не более 4 родов (строго)
						li Без лишнего веса и дефицита массы тела (вес от 50 до 90 кг)
						li Рост от 155 см
						li Без проблем со здоровьем
						li Ваш ребенок должен быть не младше 9 месяцев
						li У вас должна отсутствовать лактация (совсем)
						li Приём противозачаточных таблеток (если вы их принимали) должен быть прекращён за 2 цикла до узи
						li Если есть официальный муж, от него нужно будет согласие на программу
			
		.motherhood-programm
			.container 
				.block-title Условия для суррогатных мам в Москве
				.programm-card
							.programm-card__image
								img(src="/dist/img/programm_desc/programm2.jpg", alt="")
							.programm-card__info
								.programm-card__rate
									.row
										.col-md-6
											.programm-card__rate-name Суррогатные мамы без опыта, гонорар
										.col-md-6
											.programm-card__rate-price
												span 1 000 000 руб.
								.programm-card__rate
									.row
										.col-md-6
											p Ежемесячное содержание
										.col-md-6
											.programm-card__rate-price
												span от 25 000 руб.
								hr
								.programm-card__rate
									.row
										.col-md-6
											.programm-card__rate-name  Суррогатные мамы с опытом, гонорар
										.col-md-6
											.programm-card__rate-price
												span 1 100 000 руб.
								.programm-card__rate
									.row
										.col-md-6
											.programm-card__rate-name  Ежемесячное содержание
										.col-md-6
											.programm-card__rate-price
												span от 30 000 руб.
								.programm-card__button
									a(href="#" class="btn-aqua") Подробнее

		.guarantee
			.container
				.guarantee-content
					.guarantee__title Как будет всё проходить:
					.guarantee__list
						.guarantee__item Мы запишем Вас на узи по месту Вашего жительства на 10-12 день цикла.  Узи будет оплачено агентством.
						.guarantee__item Если по узи всё благополучно, мы отправляем ваше узи в Москву и получаем предварительное одобрение от московского врача на участие Вас в программе.  
						.guarantee__item Через пару дней вас пригласят в московскую клинику. Билеты в Москву купит агентство, по прилёту вас встретит куратор. В клинике врач посмотрит вас на гинекологическом кресле, сделает ещё раз узи и проведёт анкетирование. Если вас утвердят на программу, там же в московской клинике, у вас возьмут ряд важных анализов. В этот же день вы вернётесь домой.
						.guarantee__item По месту жительства вам нужно будет дособирать оставшуюся часть из списка обследований. Это будут справки, заключения врачей специалистов, «короткие» анализы. Так же по месту жительства нужно будет сделать согласие супруга. Все расходы оплатит агентство.
						.guarantee__item При наступлении нового цикла (начало менструации) и сбора всех анализов (справок), мы согласовываем с клиникой дату вашего прилёта и покупаем билеты. По прилёту вас встретит московский куратор.
						.guarantee__item В Москве вы заключаете договор с агентством и вступаете в программу. Начнётся программа подготовки эндометрия. На протяжении всей беременности вы будете проживать в столице. Прилететь в Москву вы можете одна или с ребенком(детьми), можно взять с собой мужа/маму/сестру/подругу,  но билеты на самолёт(поезд) для этого человека оплачиваются самостоятельно. За вас и детей билеты оплачивает Агентство.
						.guarantee__item Выезды из столицы запрещены на любом сроке беременности. В гости могут приезжать родственники и друзья.
						.guarantee__item На период пока идёт подготовка к подсадке, агентство размещает двух суррогатных мам в 2-х комнатную квартиру (без мужчин, но с детьми), при наступлении беременности их расселяют. В среднем, проживание с соседкой занимает около месяца.
						.guarantee__item Жёсткого контроля нет, однако куратор агентства может «случайно» проходить вечером мимо и зайти в гости. Если вы соблюдаете режим вынашивания «суррогатной» беременности, волноваться не о чем.
						.guarantee__item Работать на несложной и не вредной работе - можно. Это большой плюс, потому что зарплаты даже не квалифицированных работников в Москве на порядок выше, чем в регионе. Вы можете откладывать деньги.  Особенно, если с вами ещё и работает муж, накопить можно существенную сумму, ведь деньги на питание и быт тратить не нужно.
						.guarantee__item Если у вас ребенок - школьник, есть возможность устроить его в московскую школу, но делать это придётся самостоятельно: обычно оформляют временную прописку на основании договора аренды (который будет на ту квартиру, где вы проживаете) и тогда проблем не возникает. Устроить в детский сад ребенка не получится.

		.motherhood-faq(style="background: url(/dist/img/bg-adv-price.png);")
			.wave-top
			.container#faq-item-parent
				.row
					.col-md-8
						.block-title--white Москва манит смелых! Если вас ничего не держит в своём городе, дерзайте! Вступайте в программу без отрыва от своей семьи.
						p.block-text--white Самый большой минус выездной программы, это конечно переезд, но его можно рассмотреть и как существенный плюс, ведь при переезде можно скрыть факт суррогатное беременности от посторонних и потом с деньгами и без огласки вернуться в свой город. 
						p.block-text--white Прежде, чем отказаться и сказать : "ой, нет, это не для меня, я не смогу"- подумайте, а может это Ваш шанс?! Половина из тех девушек, кто уезжает в Москву, возвращаются в свой город, только для того, чтобы потом вернуться в столицу для проживания. За год в Москве они обрастают знакомствами, кто-то встречает там своего человека, кто-то "видит" именно там перспективу в плане работы и будущей жизни. Девушки, кто возвращается домой, обычно на гонорар покупают квартиру в своём городе. И, кстати говоря, если на севере или Урале гонорара хватит только на взнос ипотеки за однушку, то в южных городах это может быть покупка целого дома. Многие суррогатные мамы переезжают на юг России.
				.faq-tabs
					.faq-tabs__item
						a(href="#faq-tabs-1" data-toggle="collapse" aria-expanded="true" role="button").faq-tabs__item-name Во-первых, это время
						.faq-tabs__item-text.collapse.show#faq-tabs-1(data-parent="#faq-item-parent")
							p По месту жительства вы будете ждать программу годами, а поскольку предложений от сурмам много, ждать придётся долго. Регион это не Москва и большого количества нуждающихся в сурмамах родителей, агентство предоставить не может. Смысл терять время в ожидании, если деньги нужны здесь и сейчас? Искать био самостоятельно черевато очень нехорошими последствиями, Вам могут не заплатить или не забрать ребенка, а в итоге и защитить Вас будет некому. В случае работы через Агентство, у Вас есть гарантии 100% оплаты.
					.faq-tabs__item
						a(href="#faq-tabs-2" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name Во-вторых, это оплата 
						.faq-tabs__item-text.collapse#faq-tabs-2(data-parent="#faq-item-parent")
							p Местный гонорар ниже. На данный момент региональный гонорар еле дотягивает до 800 тыс.
					.faq-tabs__item
						a(href="#faq-tabs-3" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name В-третьих, это быт
						.faq-tabs__item-text.collapse#faq-tabs-3(data-parent="#faq-item-parent")
							p Если вы живёте на съемном жилье, его надо оплачивать. В Москве проживание будет бесплатно для Вас. Это дополнительная возможность для накопления
					.faq-tabs__item
						a(href="#faq-tabs-4" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name В-четвёртых, тайна
						.faq-tabs__item-text.collapse#faq-tabs-4(data-parent="#faq-item-parent")
							p Про суррогатное материнство никто никогда не узнает! Приехали, пожили годик, уехали обратно с деньгами. Никаких пересудов среди знакомых и друзей.
					.faq-tabs__item
						a(href="#faq-tabs-5" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name В-пятых, анонимность
						.faq-tabs__item-text.collapse#faq-tabs-5(data-parent="#faq-item-parent")
							p Поскольку Вы работаете через агентство, то вы для пациентов анонимная сурмама, занимается всем агентство в Москве. Следовательно, нет личного контакта с родителями. Благо, если родители попадутся адекватные в региональной программе, а бывает то по-разному. Бывает так, что родители «выносят мозг» и терроризируют без всякой причины. А тут родители  даже знать вас не будут и это удобно. 
					.faq-tabs__item
						a(href="#faq-tabs-6" data-toggle="collapse" aria-expanded="false" role="button").faq-tabs__item-name В-шестых, перезагрузка
						.faq-tabs__item-text.collapse#faq-tabs-6(data-parent="#faq-item-parent")
							p Можно просто на год сбежать от проблем, от быта и бывшего мужа или ухажёра. Можно отдышаться в бесконечной погоне за заработками. Перезагрузить своё сознание, осмотреться и решить, как жить дальше.
			.wave-bottom
		
		.container 
			.block-title Можно найти массу поводов, чтобы уехать, а можно найти массу причин, чтобы ничего не менять в своей жизни. Выбор всегда за Вами!
			p Если Вы готовы на выездную программу, нужно заполнить анкету на сайте Агентства. 
			p Связаться с менеджерами для консультации можно по телефонам: 
			ul.manager-contacts
				li
					a(href="https://wa.me/89995489630")
						img(src="/dist/img/ico/whatsapp-original.svg", alt="")
					span 8-999-548-96-30 Наталья (Уральский регион)
				li
					a(href="https://wa.me/89264664840")
						img(src="/dist/img/ico/whatsapp-original.svg", alt="")
					span 8-926-466-48-40 Татьяна (г.Москва)
				li
					a(href="https://wa.me/89183402229")
						img(src="/dist/img/ico/whatsapp-original.svg", alt="")
					span 8-918-340-22-29 Анастасия (Южный регион)
			.block-surrogate-request
				.block-surrogate-request__text Хочу стать суррогатной мамой
				.block-surrogate-request__button
					a(href="" class="btn-white") 
						span Перейти к заполнению анкеты		