extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/sidebar-advantages/sidebar-advantages.pug


block vars
	- var page = 'news';
	- var header_class = "main-header main-header--bg" 
	- var menu_btn_class = "btn-white main-header__menu-btn"


block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "О нас"},{href:"#",name: "Новости", class: "current"}])

	section.page.page-news
		.container
					h2.page-title Новости
					.page-content
						p На данной странице вы можете ознакомиться с новостями работы нашей компании и отрасли
					.news-list
						.row
							- i = 0;
							while i < 6
								.col-12.col-sm-6.col-md-4
									.news-item
										.news-item__image
											img(src="/dist/img/news-item.jpg", alt="")
										.news-item__info
											.news-item__date 12.07.2019
											.news-item__title Открытие нового центра в г. Тюмени
											a(href="" class="news-item__read") 
												span Подробнее
								- i++;