extends ../pug/layout.pug

include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-profile-info/profile-info.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug

block vars
	- var page = 'order-1';
	- var header_class = "main-header main-header--bg" 
	- var menu_btn_class = "btn-white main-header__menu-btn"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Личный кабинет"},{href:"#",name: "Анкета", class: "current"}])

	section.page.page-order
		//- TODO add image fixed image
		.page-order__bg
			img(src="/dist/img/mam-bg.png", alt="")
		.container
			.row
				.col-lg-9.col-sm-12
					h2.page-title Заявка на подбор донора яйцеклеток
					.page-content
						blockquote <strong>Анкета заполняется девушками до 34 лет.</strong> Пожалуйста, не заполняйте анкету, если вы старше. Если у вас не получилось заполнить анкету на сайте, просьба написать нам на электронную почту info@yoona.ru
					.order.order-submother-request
						form(action="").form.form-order.form-order-surmother-request
							.form__body
								.row
									.col-12
										.form__field
											.form__field-name Фамилия Имя Отчество <span>*</span>
											input(type="text" class="form-input" placeholder="Ситникова Екатерина Виталиевна")
								.row
									.col-12.col-sm-4
										.form__field
											.form__field-name Номер телефона <span>*</span>
											input(type="text" class="form-input" placeholder="+7 (___) ___ - __ - __")
									.col-12.col-sm-4
										.form__field
											.form__field-name Номер WhatsApp
											input(type="phone" class="form-input" placeholder="+7 (___) ___ - __ - __")
									.col-12.col-sm-4
										.form__field
											.form__field-name Email
											input(type="phone" class="form-input" placeholder="")
								.row
									.col-12.col-sm-4
										.form__field
											.form__field-name Город проживания
											input(type="text" class="form-input" placeholder="")
									.col-12.col-sm-8
										.form__field
											.form__field-name В какой клинике планируете программу? Название клиники
											input(type="phone" class="form-input" placeholder="")
									.col-12
										.form__field
											.form__field-name Ф.И.О вашего лечащего врача
											input(type="phone" class="form-input" placeholder="")
									.col-12
										.form__field
											.form__field-name Ваши пожелания
											textarea(name="", cols="30", rows="10").form-textarea
									.col-12
										.form__field 
											label.form__agreement
												input(type="checkbox" name="agreement")
												span.form__agreement-text Согласен на обработку персональных данных в соответствии с <a href="">политикой конфиденциальности</a>
									.col-12
										.form__field.form__field-captcha.form-field__captcha
											.g-recaptcha(data-sitekey="6LeNGMUUAAAAAIdwqM4ZtR-qx-ipELQIlY3rR_bt")
									.col-12
										.form__field-submit.form__field-submit--request
											button(href="" class="btn-aqua") Отправить заявку
