extends ../pug/layout.pug
//- mixins
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/block-sidebar-menu/sidebar-menu.pug
include ../blocks/video/video.pug


block vars
	- var page = 'programm-desc-1';
	- var header_class = "main-header main-header--programm"
	- var menu_btn_class = "btn-default main-header__menu-btn"
	- var header_bg = "/dist/img/programm_desc/baner_bg.jpg"
	- var b_title = "Программа суррогатного материнства"
	- var b_text = "Агенство донорства яйцеклеток и суррогатного материнства с 12-летним опытом. Работаем по России в Тюмени, Екатеринбурге, Кургане, Краснодаре и другихгородах России"
	- var b_btn_text = "Нужна помощь в подборе программы"

block content
	+breadcrumbs([{href:"#",name: "Главная"},{href:"#",name: "Родителям"},{href:"#",name: "Программа суррогатного материнства", class: "current"}])

	section.page.page-programm
		.container
					h2.page-title Программа суррогатного материнства
					.page-content
						p 
							| Счастье материнства – лучшее из того, что природа дарит женщине. 
							| Дети — это не только положительные эмоции, которые мы получаем буквально каждый день, но и в какой-то степени смысл нашего существования. 
							| Однако современная медицина сегодня достигла такого высокого уровня, что даже окончательно диагностированное бесплодие не становится преградой для материнства. 
							| И если вас постигла эта беда, если испробованы все клинические и медикаментозные средства, а специалисты бессильно разводят руками, не отчаивайтесь — доступный и эффективный выход есть! 
							| Решение сложной головоломки для современных семей, желающих, во что бы то ни стало стать родителями, нашла современная медицинская наука — это суррогатное материнство. 
							| В Тюмени услуги по суррогатному материнству и донорству ооцитов оказываем мы, агентство «Цветы жизни».
						p
							| Развитие репродуктивных технологий превратило возможность бездетных семей иметь генетически родного ребенка из несбыточной мечты в осуществимую реальность.
							| Такое понятие, как суррогатная мама, уже никого не удивляет, и программы экстракорпорального оплодотворения в настоящее время широко распространены. 
							| Россия относится к числу немногих стран, где суррогатное материнство разрешено. 
							| Конечно, существуют законы, нормативные акты. Правда, они немного не доработаны. 
							| По крайней мере, юридические вопросы у людей, воспользовавшихся услугами суррогатной мамы, возникают.
							| Именно поэтому следует обратиться к специалистам уже на начальном этапе – тогда, когда вы пришли к мысли, что вам нужна суррогатная мама.
					+video("background: url('/dist/img/video-bg.png') no-repeat center;", "", "")
					include ../blocks/block-surrogate-request/surrogate-request.pug

	