mixin map()
    section.map
        #map-default
            .map-content.d-none
                .map-item(data-url="//ekb.babyural.ru/" data-name="Екатеринбург" data-position-x="56.838011" data-position-y="60.597465")
                .map-item(data-url="//perm.babyural.ru/" data-name="Пермь" data-position-x="58.010450" data-position-y="56.229434")
                .map-item(data-url="//tyumen.babyural.ru/" data-name="Тюмень" data-position-x="57.153033" data-position-y="65.534328")
            .container
                .map-title Присутствие в 11 городах России
        .wave-top
        