.anonymous-consultation
	.anonymous-consultation__title Анонимная консультация
	.anonymous-consultation__text Вас проконсультирует руководитель компании
	.anonymous-consultation__person
		.anonymous-consultation__person-name Екатерина Минеева
		.anonymous-consultation__person-image
			img(src="/dist/img/programm_desc/consultant.jpg", alt="")
		.anonymous-consultation__person-info
			.anonymous-consultation__person-text 
				p Более 12 лет опыта
				p Имеет юридическое образование
			a(href="tel:+79621234556").anonymous-consultation__person-phone 
				img(src="/dist/img/phone-gradient.svg", alt="")
				span +7(962) 123-45-56
			.anonymous-consultation__person-social
				a(href="#").anonymous-consultation__person-social-item
					img(src="/dist/img/ico/whatsapp-white.svg", alt="")
				a(href="#").anonymous-consultation__person-social-item
					img(src="/dist/img/ico/viber-vhite.svg", alt="")
				a(href="#").anonymous-consultation__person-social-item
					img(src="/dist/img/ico/vk-white.svg", alt="")
				a(href="#").anonymous-consultation__person-social-item
					img(src="/dist/img/ico/mail-white.svg", alt="")
	.form-callback
		form.form
			.form-callback__field
				.form-callback__field-name Ваш номер телефона
				input(type="tel" placeholder="+7 (___) ___-__-__" class="form-input js-phone-mask")
			.form-callback__field-submit
				a(class="btn-aqua" href="") Заказать звонок


