div(class="modal fade modal-video" id="modal-video" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true")
	div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
		.modal-content
			.modal-header
				button(type="button" class="modal-close" data-dismiss="modal" aria-label="Close")
			.modal-body
				