.block-surrogate-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 35px 40px;
  text-decoration: none !important;

  background: $gradient;
  border-radius: 10px;

  &:hover {
    background: linear-gradient(90deg, #AB86E4 0%, #6288E4 100%);
  }

  @media (max-width: $screen-lg) {
    padding: 25px 20px;
  }

  @media (max-width: $screen-sm) {
    flex-wrap: wrap;
    padding: 20px;
  }

  @media (max-width: $screen-xs) {
    padding: 15px;
    margin: 30px 0;
  }

  &__text {
    @include heading2;
    font-weight: 400;
    color: $white;
    display: block;
    text-align: center;

    @media (max-width: $screen-sm) {
      width: 100%;
      margin-bottom: 15px;

      text-align: center;
    }

    @media (max-width: $screen-xs) {
      margin-bottom: 10px;

      line-height: 26px;
    }
  }

  &__button {
    @media (max-width: $screen-sm) {
      margin: 0 auto;
    }

    a {
      max-width: 350px;
      font-weight: 500;

      @media (max-width: $screen-lg) {
        max-width: 250px;
        padding: 11px 10px;

        font-size: 14px;
      }

      span {
        color: #222729;
      }
    }
  }
}
